.border-top-gray {
  border-top: 1px solid rgba(147,149,152,.3);
}
.border-right-gray {
  border-right: 1px solid rgba(147,149,152,.3);
}
.border-bottom-gray {
  border-bottom: 1px solid rgba(147,149,152,.3);
}
.border-left-gray {
  border-left: 1px solid rgba(147,149,152,.3);
}

.scroll-y-auto {
  overflow-y: auto;
}

.scroll-none {
  overflow: hidden;
}

.scroll-y-none {
  overflow-y: hidden;
}

.scroll-x-none {
  overflow-x: hidden;
}

.iphone {
  &__module-bd-hgt {
    &--x {
      @media (device-height: 812px) and (device-width: 375px) and (orientation: portrait) {
        height: calc(100% - 5vh) !important;
      }
    }
  }

  &__cnt-hgt {
    &--x {
      @media (device-height: 812px) and (device-width: 375px) and (orientation: portrait) {
        height: calc(100% - 30px) !important;
      }
    }
  }
}
