$color-primary: #712453;
$color-violet: #8c4b8f;
$color-white: #fff;
$color-black: #231f20;
$color-gray: #939598;
$color-green: #49c57d;
$color-orange: #faa74d;
$color-darkorange: #F37322;
$color-red: #fb5459;
$color-pink: #bb3d62;
$color-lightpink: #C35E6B;
$color-blue: #2193DA;


$rgba-color-gray-3: rgba(147,149,152,.3);
