@keyframes tile-margin {
  0%   {margin-left: 100%; margin-right: -100%;}
  100% {margin-left: -15px; margin-right: 15px;}
}

@keyframes show-sidebar {
  0%   {right: -365px;}
  50% {right: -365px;}
  100% {right: -295px;}
}