.panel-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 60px);
  max-width: calc(100% - 60px);
}

.tg {
  width: 100%;

  tr {
    border-bottom: 1px solid $rgba-color-gray-3;

    &:nth-last-child(1) {
      border-width: 0;
    }
  }

  th {
    text-align: center;
    padding: 10px 0;

    &:nth-child(4) {
      min-width: 90px;
    }

    &:nth-child(7) {
      min-width: 65px;
    }

    &:nth-child(8) {
      min-width: 120px;
    }
  }

  td {
    vertical-align: middle;
    text-align: left;
    margin-bottom: 5px;

    @media (min-width: 768px) {
      text-align: center;
      margin-bottom: 0;
    }

    .tablesaw-cell-label {
      width: 50%;
    }

    .tablesaw-cell-content {
      max-width: 100%;
      min-width: 50%;
      text-align: right;
    }


    &:nth-child(1) {
      display: none;

      @media (min-width: 768px) {
        display: table-cell;
      }
    }

    &:nth-child(2) {
      display: none;

      @media (min-width: 768px) {
        display: table-cell;
      }
    }

    &:nth-child(3) {
      margin-top: 10px;
      margin-bottom: 10px;

      .tablesaw-cell-label {
        display: none;
      }

      .tablesaw-cell-content {
        color: $color-violet;
        font-weight: 600;
        text-align: left;

        @media (min-width: 768px) {
          color: $color-primary;
          font-weight: 400;
        }
      }

      @media (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &:nth-last-child(1) {
      .tablesaw-cell-label {
        display: none;
      }
      .tablesaw-cell-content {
        width: 100%;
      }
    }

    .client-avatar {
      width: 53px;
      height: 53px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px -1px $color-gray;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .tg-0lax {
    padding-left: 5px;
    padding-right: 5px;

    &--delete, &--edit, &--open {
      padding: 8px 20px;
      border-radius: 5px;
      color: $color-white;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin-right: 5px;
      cursor: pointer;


    }

    &--delete {
      background-color: $color-red;
    }

    &--edit {
      background-color: $color-primary;
    }
    &--open {
      background-color: #8C4B8F;
    }

    button.btn {
      width: 100%;

      @media (min-width: 991px) {
        width: auto;
      }
    }
  }
}

.panel {

  &__form.form-clients-databse {
    .row {
      &:nth-child(2) {
        div {
          &:nth-child(1) {
            .panel__clients-databse {
              &:nth-child(1) {
                .panel__clients-databse__owner-data {
                  &:nth-child(1) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 480px;
                    }
                  }

                  &:nth-child(2) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 180px;
                    }
                  }

                  &:nth-child(3) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 180px;
                    }
                  }
                }
              }

              &:nth-child(2) {
                .panel__clients-databse__owner-data {
                  &:nth-child(1) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 305px;
                    }
                  }

                  &:nth-child(2) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 180px;
                    }
                  }

                  &:nth-child(3) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 180px;
                    }
                  }

                  &:nth-child(4) {
                    width: 100%;

                    @media (min-width: 768px) {
                      width: 155px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__logo-block {
      width: 100%;
      margin-bottom: 30px;
      padding: 0;

      @media (min-width: 768px) {
        width: auto;
        padding: 0 30px;
      }

      @media (min-width: 1330px) {
        padding: 0 15px;
      }
    }
  }

  &__clients-databse{

    &__owner-data, &__data {
      margin-right: 0;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        margin-right: 20px;
      }

      @media (min-width: 1200px) {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $color-primary;
      }

      .search-label {
        width: 100%;

        .input-gray {
          margin-bottom: 5px;
          width: 100%;
          display: inline-block;
          padding: 7px 10px;

          &::placeholder {
            display: inline-block;
            text-transform: none;
          }

          &.form-control[readonly] {
            background-color: rgba(255, 255, 255, 0);
            opacity: 1;
          }
        }
      }
    }

    &__data {
      &--uppercase {
        label {

          .input-gray  {

            &::placeholder {
              text-transform: uppercase;
            }
          }
        }
      }

      &--lowercase {
        width: 40px;

        label {
          .input-gray  {

            &::placeholder {
              text-transform: lowercase;
            }
          }
        }
      }

      .btn-gradient {
        font-size: 12px;
        padding: 16px 23px 16px 45px;
        position: relative;
        margin-right: 20px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 25px;
          transform: translateY(-50%) translateX(-50%);
          width: 17px;
          height: 17px;
          background-image: url("../img/clients-database-download-ico.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .btn-outline-light {
        padding: 7px 15px;
      }
    }

    .radio {
      margin-top: 21px;

      .radio-label {
        color: $color-primary;
        display: inline-block;
        float: left;
        padding-left: 20px;
        margin-right: 30px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 400;

        .checkmark {
          border-color: $color-primary;

          &::after {
            background: $color-primary;
          }
        }
      }
    }
  }

  .add-logo-text {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #712453;
    text-align: center;
  }

  .user__block {
    z-index: 0;
    width: 120px;
    margin-top: 12px;

    .user__avatar {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background-color: #fff;
      padding-top: 100%;
      transition: all .5s ease-in-out;

      &::before {
        content: "edytuj";
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-size: 20px;
        font-weight: bold;
        font-family: 'lato', sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all .5s ease-in-out;
        z-index: 1;
      }

      &:hover {
        opacity: 1;
        &::before {
          background-color: rgba(255,255,255,.5);
          opacity: 1;
        }
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s ease-in-out;
      }
    }
  }

  .nav-tabs {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }

    .nav-item {
      margin-bottom: -1px;
      .nav-link {
        width: 160px;
        border-width: 0;
        //background-color: rgba(147, 149, 152, 0);
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 10px 10px 5px 10px;
        margin-right: 5px;
        border-radius: 10px 10px 0 0 / 5px 5px 0 0;
        color: $color-primary;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        &:hover, &.active {
          border-width: 0px;
          background: linear-gradient(255deg,transparent 5%,rgba(147, 149, 152, 0.3) 6%,#ffffff 6%,#ffffff 59%,transparent 60%),linear-gradient(-255deg,transparent 5%,rgba(147, 149, 152, 0.3) 6%,#ffffff 6%,#ffffff 59%,transparent 60%);

          &::after {
            content: '';
            position: absolute;
            top: -4px;
            left: 50%;
            width: 145px;
            height: 40px;
            transform: translateX(-50%);
            border-radius: 8px;
            border-top: 1px solid rgba(147,149,152,.3);
          }
        }
      }

      &:nth-child(2) {
        margin-left: -10px;

        .nav-link {
          width: 75px;

          &:hover, &.active {
            background: linear-gradient(255deg,transparent 8%,rgba(147,149,152,.3) 9%,#fff 10%,#fff 59%,transparent 60%),linear-gradient(-255deg,transparent 8%,rgba(147,149,152,.3) 9%,#fff 10%,#fff 59%,transparent 60%);

            &::after {
              width: 62px;
              border-radius: 8px;
            }
          }
        }
      }

      &:nth-child(3) {
        margin-left: -10px;
      }
    }
  }

  .tab-content {
    #additional-settings.tab-pane {
      .row {
        &:nth-child(1) {
          div {
            .panel__clients-databse__owner-data {
              &:nth-child(1) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 180px;
                }
              }

              &:nth-child(2) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 180px;
                }
              }

              &:nth-child(3) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 560px;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          div {
            .panel__clients-databse__owner-data {
              &:nth-child(1) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 180px;
                }
              }

              &:nth-child(2) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 180px;
                }
              }

              &:nth-child(3) {
                width: 100%;

                @media (min-width: 768px) {
                  width: 180px;
                }
              }
            }
          }
        }
      }
    }

    #addresses.tab-pane, #contact-persons.tab-pane {
      .row {
        div {
          .panel__clients-databse__owner-data {
            label {
              margin-bottom: 10px;
            }

            &:nth-child(1) {
              width: 100%;

              @media (min-width: 768px) {
                width: 180px;
              }
            }
            &:nth-child(2) {
              width: 100%;

              @media (min-width: 768px) {
                width: 305px;
              }
            }
            &:nth-child(3) {
              width: 100%;

              @media (min-width: 768px) {
                width: 180px;
              }
            }
            &:nth-child(4) {
              width: 100%;

              @media (min-width: 768px) {
                width: 180px;
              }
            }
            &:nth-child(5) {
              width: 100%;

              @media (min-width: 768px) {
                width: 155px;
              }
            }
          }

          .add-new-address {
            height: 32px;
            margin-bottom: 10px;

            p {
              margin: 0;
              color: $color-gray;
              padding-left: 30px;
              position: relative;

              &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 23px;
                height: 23px;
                background-image: url(../img/clients-database-add-ico-gray.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            &.active {
              p {
                color: $color-primary;

                &::before {
                  background-image: url(../img/clients-database-add-ico.svg);
                }
              }
            }
          }
        }
      }
    }
  }

  .tab-pane {
    display: block;

    @media (min-width: 768px) {
      display: none;
    }

    &.active {
      display: block;
    }

    p {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: $color-primary;
    }

    &.invoice-tab {
      .search-label {
        width: auto;
        display: inline-block;

        .input-gray {
          p {
            font-size: 12px;
            ont-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $color-black;
            text-transform: none;
            margin-right: 20px;
            margin-bottom: 0;
            line-height: 2;

            span {
              text-transform: uppercase;
              background-color: $color-primary;
              color: $color-white;
              padding: 7.5px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  &.footer-block {
    border-top: 1px solid $rgba-color-gray-3;

    p {
      font-size: 12px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: $color-primary;
      text-transform: uppercase;
      margin-top: 25px;
      margin-bottom: 50px;
      padding-left: 50px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        width: 23px;
        height: 23px;
        transform: translateY(-50%) translateX(100%);
        background-image: url(../img/clients-database-add-ico.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .btn-gradient {
      padding: 16px 0;
      font-size: 16px;
      margin-left: 0;
      width: 100%;

      @media (min-width: 768px) {
        margin-left: 20px;
        padding: 16px 45px;
        width: auto;
      }
    }
  }

  .footer-block {
    .panel--button {
      .btn {
        &:nth-child(1) {
          font-size: 10px;
          margin-bottom: 15px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
          }

          @media (min-width: 415px) {
            font-size: 16px;
          }

          @media (min-width: 897px) {
            margin-left: 0;
          }

          @media (min-width: 933px) {
            margin-bottom: 0;
          }
        }

        &:nth-child(2) {
          font-size: 10px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
            margin-left: 0;
          }

          @media (min-width: 415px) {
            font-size: 16px;
            margin-left: 0;
          }

          @media (min-width: 912px) {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

.arrow-1 {
  p {
    text-transform: uppercase;
    font-size: 14px;
  }
}
