#clients-database-sidebar {
  animation-name: show-sidebar;
  animation-duration: 1s;
}

.panel {

  &__search {
    padding: 0 15px;

    .search-label, .filter-label {
      width: 100%;

      &__icon {
        position: absolute;
        top: 50%;

        &::before {
          content: "";
          height: 18px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          width: 18px;
        }
      }
    }

    .search-label {
      margin-top: 15px;

      &__icon {
        &::before {
          background-image: url(../img/search-ico-white.svg);
        }
      }
    }

    .filter-label {
      &__icon {
        &::before {
          background-image: url(../img/filter-ico.svg);
        }
      }
    }

    .dropdown-text {
      color: $color-white;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .search-title {
      background: 0 0;
      border-radius: 0;
      border-width: 0;
      border-bottom: 1px solid $color-white;
      color: $color-white;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 2;
      padding: 6px 12px 6px 25px;
      text-transform: uppercase;
    }

    .radio {
      margin-top: 20px;

      .radio-label {
        padding-left: 25px;
      }
    }

    p {
      color: $color-white;
      font-family: 'Lato' ,sans-serif;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 14px;
    }

    .ui-slider-horizontal {
      height: .4em;
      position: relative;
      margin-top: 12px;
      margin-bottom: 45px;

      &::after {
        content: attr(data-content-3);
        position: absolute;
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        color: $color-white;
        font-size: 10px;
      }

      .ui-slider-range {
        background-color: $color-primary;
      }

      .ui-slider-handle {
        top: 100%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;

        &::after {
          position: absolute;
          top: 25px;
          width: 20px;
          height: 20px;
          text-align: center;
          color: $color-white;
          font-size: 10px;
        }

        &:nth-child(2) {
          &::after {
            content: attr(data-content-1);
          }
        }

        &:nth-child(3) {
          &::after {
            content: attr(data-content-2);
          }
        }
      }
    }
    .btn-square {
      &--large {
        .btn-block {
          margin-top: 45px;
        }
      }
    }
  }

  &__search, &__footer {
    padding: 0 15px;

    .btn-square {
      padding: 0;

      .btn-block {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
        position: relative;
        width: 100%;
      }

      &--small {

        &:nth-child(1) {
          .content {
            &::after {
              background-image: url(../img/add-document-ico.svg);
            }
          }
        }

        &:nth-child(2) {
          .content {
            &::after {
              background-image: url(../img/add-case-ico.svg);
            }
          }
        }

        &:nth-child(3) {
          .content {
            &::after {
              background-image: url(../img/add-client-ico.svg);
            }
          }
        }
      }

      &--large {
        .btn-block {
          margin-bottom: 15px;
        }
      }

      .content {
        background-image: url(../img/panel-hover-bg.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        .go-back-block {
          p {
            color: $color-white;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            padding-left: 30px;
            position: relative;
            text-transform: uppercase;

            &::before {
              background-image: url(../img/arrow-back-ico.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
              display: block;
              height: 16px;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 22px;
            }
          }
        }

        .add-new-client-block {
          p {
            color: $color-white;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
            padding-left: 30px;
            position: relative;
            text-transform: uppercase;

            &::before {
              background-image: url(../img/arrow-back-ico.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
              display: block;
              height: 16px;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 22px;
            }
          }
        }

        &::after {
          background-position: center;
          background-repeat: no-repeat;
          background-size: content;
          content: "";
          display: block;
          height: 60%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          width: 60%;
          z-index: 1;
        }
      }
    }
  }
}

.search-panel-toggler {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;

  .circle {
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
  }
}
