#files-documents {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 30px);
  max-width: calc(100% - 30px);

  @media (min-width: 768px) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 645px;
    max-width: 645px;
  }
}

.panel {

  &__task {
    border-radius: 5px;
    box-shadow: 0 0 5px -1px $color-gray;
    height: 60px;
    margin: 10px auto;
    padding: 2px;
    width: 100%;
    transition: all .5s ease;

    &--document-list {
      height: 110px;

      @media (min-width: 768px) {
        height: 60px;
      }
    }

    &:hover {
      box-shadow: 0 0 5px -1px $color-primary;
      transform: scale(1.01);
      cursor: pointer;
      transition: all .5s ease;
    }

    &.task-done {
      position: relative;

      &::after {
        background-color: rgba(255,255,255, .7);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: calc(100% - 28px);

        @media (min-width: 768px) {
          width: calc(100% - 52px);
        }
      }
    }

    &:nth-child(1) {
      margin-top: 1px;
    }

    &__colored-block {
      background-color: #FB5459;
      border-radius: 3px;
      float: left;
      height: 100%;
      margin-right: 16px;
      width: 40px;
    }

    &__document-source {
      background-color: #FB5459;
      border-radius: 3px;
      float: left;
      height: 10px;
      margin-right: 16px;
      width: 100%;

      @media (min-width: 768px) {
        height: 100%;
        width: 10px;
      }
    }

    &__status-block {
      float: left;
      height: 20px;
      width: 100%;

      @media (min-width: 768px) {
        height: 100%;
        width: 130px;
      }

      .task-icon {
        width: 100px;
        height: 20px;

        @media (min-width: 768px) {
          height: 100%;
          width: 100%;
        }
      }

      p {
        color: $color-gray;
        font-family: 'Lato' ,sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &__text-block {
      float: left;
      height: 50px;
      width: 100%;

      @media (min-width: 768px) {
        height: 100%;
        width: auto;
      }

      &--top {
        width: auto;
      }

      .title-text {
        color: $color-black;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 3px;

        @media (min-width: 768px) {
          font-size: 14px;
          margin-bottom: 5px;
        }

        span {
          color: $color-gray;
        }
      }

      .address-text {
        font-family: 'Lato', sans-serif;
        font-size: 9px;
        font-weight: 400;
        margin-bottom: 3px;

        @media (min-width: 768px) {
          font-size: 11px;
          margin-bottom: 5px;
        }
      }

      .additional-info {
        font-family: 'Lato', sans-serif;
        font-size: 9px;
        font-weight: 300;
        margin-bottom: 0;

        @media (min-width: 768px) {
          font-size: 11px;
          margin-bottom: 0;
        }

        span {
          font-weight: 600;
        }
      }
    }

    &__checkmark-block {
      border-left: 0px solid rgba(147, 149, 152, .3);
      float: right;
      height: 100%;
      margin-left: 0;
      width: 25px;
      
      @media (min-width: 768px) {
        width: 52px;
        margin-left: 10px;
        border-left: 2px solid rgba(147, 149, 152, .3);
      }

      .checkmark {
        border: 2px solid rgba(147, 149, 152, .5);
        border-radius: 50%;
        box-shadow: inset 0 0 7px rgba(147, 149, 152, .3);
        height: 25px;
        width: 25px;

        &:hover {
          cursor: pointer;
        }
      }

      .checked {
        position: relative;
        &::before {
          border-bottom: 2px solid $color-primary;
          border-left: 2px solid $color-primary;
          content: "";
          height: 7px;
          left: 50%;
          position: absolute;
          top: 45%;
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
          width: 15px;
        }
      }
    }

    &__fileinfo-block {
      border-left: 0px solid rgba(147, 149, 152, .3);
      width: 100%;
      height: 20px;
      float: right;
      margin-left: 10px;


      @media (min-width: 768px) {
        border-left: 2px solid rgba(147, 149, 152, .3);
        width: 70px;
        height: 100%;
      }

      img {
        margin: 0 5px;
      }
    }

    &__time-block {
      float: right;
      height: auto;

      @media (min-width: 768px) {
        height: 100%;
      }

      p {
        color: #FB5459;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 0;

        @media (min-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}