.panel {

  &__search {
    padding: 0 15px;

    .search-label, .filter-label {
      width: 100%;

      &__icon {
        position: absolute;
        top: 50%;

        &::before {
          content: "";
          height: 18px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          width: 18px;
        }
      }
    }

    .search-label {
      &__icon {
        &::before {
          background-image: url(../img/search-ico-white.svg);
        }
      }
    }

    .filter-label {
      &__icon {
        &::before {
          background-image: url(../img/filter-ico.svg);
        }
      }
    }

    .dropdown-text {
      color: $color-white;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .radio {
      .radio-label {
        padding-left: 55px;

        &::before {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          height: 16px;
          left: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(100%);
          width: 16px;
        }
        &:nth-child(1) {
          &::before {
            background-image: url("../img/search-sources-ico.svg");
          }
        }
        &:nth-child(2) {
          &::before {
            background-image: url("../img/search-information-ico.svg");
          }
        }

        &:nth-child(3) {
          &::before {
            background-image: url("../img/search-adacta-ico.svg");
          }
        }

        &:nth-child(4) {
          &::before {
            background-image: url("../img/search-archive-ico.svg");
          }
        }
      }
    }

    .search-title {
      background: 0 0;
      border-radius: 0;
      border-width: 0;
      border-bottom: 1px solid $color-white;
      color: $color-white;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 2;
      padding: 0 0 8px 30px;
      text-transform: uppercase;
    }

    p {
      color: $color-white;
      font-family: 'Lato' ,sans-serif;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 14px;
    }

  }

  &__footer {
    padding: 0 15px;

    .btn-square {
      padding: 0;

      .btn-block {
        margin: 5px;
        padding: 0;
        position: relative;
        width: 100%;
      }

      &--small {

        &:nth-child(1) {
          .content {
            &::after {
              background-image: url(../img/add-document-ico.svg);
            }
          }
        }

        &:nth-child(2) {
          .content {
            &::after {
              background-image: url(../img/add-case-ico.svg);
            }
          }
        }

        &:nth-child(3) {
          .content {
            &::after {
              background-image: url(../img/add-client-ico.svg);
            }
          }
        }
      }

      &--large {
        .btn-block {
          margin-bottom: 15px;
        }
      }

      .content {
        background-image: url(../img/panel-hover-bg.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        .go-back-block {
          p {
            color: $color-white;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            padding-left: 30px;
            position: relative;
            text-transform: uppercase;

            &::before {
              background-image: url(../img/arrow-back-ico.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
              display: block;
              height: 16px;
              left: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 22px;
            }
          }
        }

        &::after {
          background-position: center;
          background-repeat: no-repeat;
          background-size: content;
          content: "";
          display: block;
          height: 60%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          width: 60%;
          z-index: 1;
        }
      }
    }
  }
}

.search-panel-toggler {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;

  .circle {
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
  }
}
