#files-preview {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 30px);
  max-width: calc(100% - 30px);

  @media (min-width: 768px) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 645px;
    max-width: 645px;
  }

  @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
    max-height: calc(635px - 40px - 75px);
  }

  & > div {
    height: calc(100% - 30px);
  }
}

.panel {
  &__title {
    &__prev-settings {
      border-left: 2px solid $rgba-color-gray-3;

      &:nth-last-child(1) {
        border-right: 2px solid $rgba-color-gray-3;
      }

      &__ico {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 21px;
        margin: 0 11px;
        transition: all .3s ease;
        width: 32px;

        &--archive {
          background-image: url(../img/preview-archive-ico.svg);
        }

        &--lock {
          background-image: url(../img/preview-lock-ico.svg);
        }

        &--mail {
          background-image: url(../img/preview-mail-ico.svg);
        }

        &--print {
          background-image: url(../img/preview-print-ico.svg);
        }

        &--resize {
          background-image: url(../img/preview-resize-ico.svg);
        }

        &--zoom {
          background-image: url(../img/preview-zoom-ico.svg);
        }
      }
    }

    &__dropdown-panel {
      min-height: 0;
      height: 0;
      overflow: hidden;

      @media (min-width: 768px) {
        min-height: 100%;
        height: auto;
        overflow: visible;
      }

      &.active {
        height: 100%;
        height: 405px;
        overflow: visible;
      }
    }

    &__fields {
      margin-top: 5px;
      .search-label {
        width: 100%;

        &__text {
          background-color: $color-white;
          border-width: 0;
          box-shadow: 0 0 25px -7px $color-gray;
          padding: .175rem .75rem;
          height: auto;

          &::placeholder {
            color: $color-primary;
          }
        }
      }

      .dropdown {

        .btn {

          &::after {

          }
        }
      }

      &--up {
        .search-label {
          width: 100%;

          @media (min-width: 768px) {
            width: 22%;
          }
        }

        .dropdown {

          &:nth-child(2) {
            width: 100%;
            margin-top: 5px;

            @media (min-width: 768px) {
              width: 30.5%;
              margin-top: 0;
            }
          }

          &:nth-child(3) {
            width: 100%;
            margin-top: 5px;

            @media (min-width: 768px) {
              width: 26.5%;
              margin-top: 0;
            }

            .btn {
              color: #49C57D;
              padding-left: 30px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 18.5px;
                height: 18.5px;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                background-color: #49C57D;
                border-radius: 5px;
              }
            }
          }

          &:nth-child(4) {
            width: 100%;
            margin-top: 5px;

            @media (min-width: 768px) {
              width: 18.5%;
              margin-top: 0;
            }
          }
        }
      }

      &--down {
        .dropdown {
          width: 100%;

          @media (min-width: 768px) {
            width: 37.5%;
          }
        }

        .search-label {
          width: 100%;
          margin-top: 5px;

          @media (min-width: 768px) {
            width: 61.5%;
            margin-top: 0;
          }
        }
      }
    }

    &__arrow-down {
      height: 28px;
      width: 28px;
      background-image: url("../img/preview-arrow-ico.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotateX(-180deg);

      &.active {
        transform: rotateX(0deg);
      }
    }
  }
}
