#files-cases {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 30px);
  max-width: calc(100% - 30px);

  @media (min-width: 768px) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    max-width: 300px;
  }
}

.panel {

  &__case {
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: -15px;
    margin-top: 5px;
    padding: 5px 15px 5px 15px;

    &.active {
      background-image: url("../img/panel-hover-bg.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -1px 0 5px 0px $color-gray;

      .case-name, .case-addons {
        color: $color-white;
      }
    }

    &__circle-block {
      float: left;
      height: 18px;
      margin-right: 5px;
      width: 18px;

      .case-circle {
        background-color: $color-primary;
        border-radius: 50%;
        box-shadow: 0 0 5px -1px $color-gray;
        height: 100%;
        overflow: hidden;
        width: 100%;
      }
    }

    &__text-block {
      float: left;
      width: auto;

      .case-name, .case-addons {
        color: $color-black;
        font-family: 'Lato' ,sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
      }

      .case-name {
        font-size: 16px;
      }

      .case-addons {
        font-size: 10px;
        padding-left: 23px;
      }
    }

    &:hover {
      background-image: url("../img/panel-hover-bg.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -1px 0 5px 0px $color-gray;
      transition: all .3s ease;

      .case-avatar {
        img {
          transform: scale(1.2);
          transition: all .5s ease;
        }
      }

      .case-name {
        color: $color-white;
        transition: all .1s ease;
      }
    }
  }
}