#files-clients, #files-cases, #files-documents, #files-preview, #files-tiles, #files-add-new-case, #files-add-new-document {
  display: none;
}

#files-cases, #files-documents, #files-preview {
  margin-left: 300px;
  opacity: 0;
}

#files-clients.active, #files-cases.active, #files-documents.active, #files-preview.active, #files-tiles.active, #files-add-new-case.active, #files-add-new-document.active {
  display: block;
}

.content-scroll {
  overflow-y: auto;
}

.panel {

  &.title-block {

    p {
      color: $color-gray;
      font-family: 'Lato' ,sans-serif;
      font-size: 10.5px;
      font-weight: 300;
      margin-bottom: 8.5px;
    }
  }

  &.title-height {
    height: 110px;
  }

  &__title {

    min-height: 28px;

    &.margin-bottom-8 {
      margin-bottom: 8px;
    }

    &.margin-bottom-24 {
      margin-bottom: 24px;
    }

    &__icon {
      margin-right: 15px;
    }

    &__block {

      & .title-text {
        color: $color-primary;
        font-family: 'Lato' ,sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }

    &__icon {
      cursor: pointer;
    }

    &__sort {
      border-left: 2px solid $rgba-color-gray-3;

      &__ico {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 21px;
        transition: all .3s ease;
        width: 32px;

        &--num {
          background-image: url("../img/sort-num-ico.svg");

          &:hover {
            background-image: url("../img/sort-num-ico-hover.svg");
          }
        }

        &--lttr {
          background-image: url("../img/sort-lttr-ico.svg");

          &:hover {
            background-image: url("../img/sort-lttr-ico-hover.svg");
          }
        }
      }
    }

    &--line-purple {
      flex: 1;
      position: relative;

      &::before {
        background-color: $color-primary;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 0;
      }
    }
  }

  &.footer-block {
    height: 70px;
  }

    &--line-grey {
    flex: 1;
    padding-bottom: 10px;
    position: relative;

    &::before {
      background-color: $color-gray;
      content: '';
      height: 1px;
      opacity: .3;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

}
