#files-tiles {
  flex: 0 0 310px;
  max-width: 310px;
}

.panel {

  &__tile {

    &__icon {
      margin-right: 5px;
    }

    &__block {

      & .tile-text {
        color: $color-primary;
        font-family: 'Lato' ,sans-serif;
        font-size: 16px;
        font-weight: 600;

        &.red {
          color: #FB5459;
        }
      }
    }

    &__text {
      ul {

        li {
          color: $color-gray;
          font-family: 'Lato' ,sans-serif;
          font-size: 14px;
          font-weight: 400;

        }
      }

      p {
        color: $color-gray;
        font-family: 'Lato' ,sans-serif;
        font-size: 14px;
        font-weight: 400;

        span {
          color: $color-primary;
          font-weight: 600;

          &.red {
            color: #FB5459;
          }
        }
      }
    }

    &__history {
      .date {
        color: $color-gray;
        font-family: 'Lato' ,sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 7px;
        margin-top: 7px;

        span {
          color: $color-primary;
          font-weight: 600;
        }
      }

      .source {
        color: $color-primary;
        font-family: 'Lato' ,sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 7px;

        span {
          font-weight: 600;
        }
      }
    }
  }
}

#files-tiles {

  &>div {

  }

  .row {
      .panel {
        margin-left: 100%;
        margin-right: -100%;
        animation-name: tile-margin;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    &:nth-child(1) {
      .panel {
        animation-delay: .3s;
      }
    }
    &:nth-child(2) {
      .panel {
        animation-delay: .6s;
      }
    }
    &:nth-child(3) {
      .panel {
        animation-delay: .9s;
      }
    }
    &:nth-child(4) {
      .panel {
        animation-delay: 1.2s;
      }
    }
    &:nth-child(5) {
      .panel {
        animation-delay: 1.5s;
      }
    }
    &:nth-child(6) {
      .panel {
        animation-delay: 1.8s;
      }
    }
    &:nth-child(7) {
      .panel {
        animation-delay: 2.1s;
      }
    }
    &:nth-child(8) {
      .panel {
        animation-delay: 2.4s;
      }
    }
    &:nth-child(9) {
      .panel {
        animation-delay: 2.7s;
      }
    }
  }
}