#files-add-new-document {
  .panel {
    &__title {
      .input-block {
        &--column {
          label {
            width: 100%;
          }

          &:nth-child(2) {
            width: 8.5%;
          }
          &:nth-child(3) {
            width: 14%;
          }
          &:nth-child(4) {
            width: 14%;
          }
          &:nth-child(5) {
            width: 36%;
          }
          &:nth-child(6) {
            width: 14%;
          }
          &:nth-child(7) {
            width: 8.5%;
          }
        }
      }
    }
  }
}

#files-add-new-case {
  .panel {
    &__title {
      .input-block {
        &--column {
          margin-right: 7px;

          label {
            width: 100%;
          }

          &:nth-child(2) {
            width: 14%;
          }
          &:nth-child(3) {
            width: 8.5%;
          }
          &:nth-child(4) {
            width: 10.5%;
          }
          &:nth-child(5) {
            width: 5.5%;
          }
          &:nth-child(6) {
            p {
              margin-bottom: 0;
              text-transform: none;
              padding: 0 4px;
            }
          }
          &:nth-child(7) {
            width: 10.5%;
          }
          &:nth-child(8) {
            width: 5.5%;
          }
          &:nth-child(9) {
            div {
              width: 14px;
              height: 14px;
              margin-left: 3px;
              background-image: url("../img/files_addnewcase-prosecutor-new-ico.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}

.panel {
  &__title {
    &__block {
      &--case-ico {
        height: 24px;
        width: 24px;
        margin-right: 15px;
        background-image: url("../img/files_addnewcase-case-ico.svg");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
      }

      &--document-ico {
        height: 24px;
        width: 24px;
        margin-right: 15px;
        background-image: url("../img/files_addnewdocument-document-ico.svg");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
      }
    }

    .input-block--column {

      p {
        margin-bottom: 12px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        color: $color-primary;
      }

      label {
        input {
          &::placeholder {
            text-transform: none;
          }
        }
      }
    }

    .input-block--row {
      margin-right: 12px;

      p {
        margin-bottom: 0;
        margin-left: 20px;
        padding: 0 10px;
        text-transform: none;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 600;
        color: $color-primary;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateX(-100%) translateY(-50%);
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          background-image: url("../img/files_addnewcase-accused-new-ico.svg");
        }
      }

      label {
        input {
          border-radius: 8px;

          &::placeholder {
            margin-bottom: 12px;
            text-transform: none;
            font-size: 12px;
            font-family: "Lato",sans-serif;
            font-weight: 400;
            color: $color-black;
          }
        }
      }
    }
  }

  .add-new-case-content-height {
    height: calc(100% - 62px);
  }

  &__add-new-files {

    &--prosecutor, &--accused, &--proxy, &--case-data, &--related-documents {
      text-align: center;

      p {
        padding-top: 30px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    &--prosecutor {
      p {
        color: $color-primary;

        &::before {
          background-image: url("../img/files_addnewcase-prosecutor-ico.svg");
        }
      }
    }

    &--accused {
      p {
        color: $color-red;

        &::before {
          background-image: url("../img/files_addnewcase-accused-ico.svg");
        }
      }
    }

    &--prosecutor-proxy {
      p {
        color: $color-primary;

        &::before {
          background-image: url("../img/files_addnewcase-prosecutor-proxy-ico.svg");
        }
      }
    }

    &--accused-proxy {
      p {
        color: $color-red;

        &::before {
          background-image: url("../img/files_addnewcase-accused-proxy-ico.svg");
        }
      }
    }

    &--case-data {
      p {
        color: $color-primary;
        padding-top: 50px;

        &::before {
          width: 40px;
          height: 40px;
          background-image: url("../img/files_addnewcase-case-ico.svg");
        }
      }
    }

    &--related-documents {
      p {
        color: $color-primary;
        padding-top: 50px;

        &::before {
          width: 40px;
          height: 40px;
          background-image: url("../img/files_addnewcase-related-documents-ico.svg");
        }
      }
    }

    &--prosecutor-new, &--accused-new {
      border-left: 1px solid rgba(147,149,152,.3);

      p {
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        position: relative;
        padding-left: 40px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 10px;

          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    &--prosecutor-new {
      p {
        color: $color-primary;

        &::before {
          background-image: url("../img/files_addnewcase-prosecutor-new-ico.svg");
        }
      }
    }

    &--accused-new {
      p {
        color: $color-red;

        &::before {
          background-image: url("../img/files_addnewcase-accused-new-ico.svg");
        }
      }
    }

    &__inputs {

      &--documents-1 {
        .input-block--column {
          &:nth-child(1) {
            width: 10.5%;
          }
          &:nth-child(2) {
            width: 14%;
          }
          &:nth-child(3) {
            width: 14%;
          }
          &:nth-child(4) {
            width: 29.5%;
          }
        }
      }

      &--documents-2 {
        .input-block--column {
          &:nth-child(1) {
            width: 14%;
          }
          &:nth-child(2) {
            width: 9.5%;
          }
          &:nth-child(3) {
            width: 9.5%;
          }
          &:nth-child(4) {
            width: 9.5%;
          }
          &:nth-child(5) {
            width: 9.5%;
          }
          &:nth-child(6) {
            margin-left: 45px;
            label {
              padding-top: 20px;
              padding-left: 30px;
              font-family: 'Lato', sans-serif;
              font-size: 12px;
              font-weight: 400;
              color: $color-primary;
              position: relative;

              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 20px;
                height: 20px;
                background-color: $color-primary;
                background-image: url("");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }

      &--documents-3 {
        .input-block--column {
          &:nth-child(1) {
            width: 19.5%;
          }
          &:nth-child(2) {
            width: 9.5%;
          }
          &:nth-child(3) {
            width: 40%;
          }
        }
      }

      &--cases-1 {
        .input-block--column {
          &:nth-child(1) {
            width: 17%;
          }
          &:nth-child(2) {
            width: 12%;
          }
          &:nth-child(3) {
            width: 21%;
          }
          &:nth-child(4) {
            width: 17%;
          }
          &:nth-child(5) {
            width: 17%;
          }
          &:nth-child(6) {
            width: 11%;
          }
        }
      }

      &--cases-2 {
        .input-block--column {
          &:nth-child(1) {
            width: 20.5%;
          }
          &:nth-child(2) {
            width: 12%;
          }
          &:nth-child(3) {
            width: 21%;
          }
          &:nth-child(4) {
            width: 17%;
          }
          &:nth-child(5) {
            width: 17%;
          }
          &:nth-child(6) {
            width: 11%;
          }
        }
      }

      &--cases-3 {
        .input-block--column {
          &:nth-child(1) {
            width: 17%;
          }
          &:nth-child(2) {
            width: 12%;
          }
          &:nth-child(3) {
            width: 21%;
          }
          &:nth-child(4) {
            width: 17%;
          }
          &:nth-child(5) {
            width: 17%;
          }
          &:nth-child(6) {
            width: 11%;
          }
        }
      }

      &--cases-4 {
        .input-block--column {
          &:nth-child(1) {
            width: 20.5%;
          }
          &:nth-child(2) {
            width: 12%;
          }
          &:nth-child(3) {
            width: 21%;
          }
          &:nth-child(4) {
            width: 17%;
          }
          &:nth-child(5) {
            width: 17%;
          }
          &:nth-child(6) {
            width: 11%;
          }
        }
      }

      .input-block--column {
        margin: 15px 12px 15px 0;

        p {
          margin-bottom: 12px;
          text-transform: uppercase;
          font-size: 12px;
          font-family: "Lato",sans-serif;
          font-weight: 400;
          color: $color-primary;

          span {
            text-transform: none;
          }
        }

        .search-label {
        width: 100%;

          input {
            border-radius: 8px;

            &::placeholder {
              margin-bottom: 12px;
              text-transform: none;
              font-size: 12px;
              font-family: "Lato",sans-serif;
              font-weight: 400;
            }
          }

          textarea {
            height: 110px;
          }
        }
      }

      .input-block--row {
        margin-right: 12px;

        .search-label {
          flex-grow: 1;
        }

        p {
          margin-bottom: 0;
          margin-left: 20px;
          padding: 0 10px;
          text-transform: none;
          font-size: 12px;
          font-family: "Lato",sans-serif;
          font-weight: 600;
          color: $color-primary;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateX(-100%) translateY(-50%);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }

        label {
          input {
            border-radius: 8px;

            &::placeholder {
              margin-bottom: 12px;
              text-transform: none;
              font-size: 12px;
              font-family: "Lato",sans-serif;
              font-weight: 400;
              color: $color-black;
            }
          }
        }

        .btn {
          font-size: 12px;
        }
      }

      &--cases-5 {
         .input-block--row {

           &:nth-child(1) {
             width: 15%;

             p {
               &::before {
                 background-image: url("../img/files_addnewcase-signature-ico.svg");
               }
             }
           }
           &:nth-child(2) {
             width: 40%;

             p {
               &::before {
                 background-image: url("../img/files_addnewcase-court-ico.svg");
               }
             }
           }
           &:nth-child(3) {
             width: 17%;

             p {
               &::before {
                 background-image: url("../img/files_addnewcase-department-ico.svg");
               }
             }
           }
           &:nth-child(4) {
             width: 20%;

             p {
               &::before {
                 background-image: url("../img/files_addnewcase-refernt-ico.svg");
               }
             }
           }
         }
      }

      &--cases-6 {
        .input-block--row {

          &:nth-child(1) {
            width: 20%;

            p {
              &::before {
                background-image: url("../img/files_addnewcase-date-ico.svg");
              }
            }
          }
          &:nth-child(2) {
            width: 35%;

            p {
              &::before {
                background-image: url("../img/files_addnewcase-subject-matter-ico.svg");
              }
            }
          }
          &:nth-child(3) {
            width: 25%;

            p {
              &::before {
                background-image: url("../img/files_addnewcase-subject-matter-value-ico.svg");
              }
            }
          }
        }
      }

      &--cases-7 {
        .input-block--row {

          &:nth-child(1) {
            width: 40%;

            p {
              &::before {
                background-image: url("../img/files_addnewcase-breifcase-title-ico.svg");
              }
            }
          }
          &:nth-child(2) {
            width: 22%;

            p {
              &::before {
                background-image: url("../img/files_addnewcase-date-ico.svg");
              }
            }
          }
        }
      }
    }

    &__attachment {
      margin-top: 15px;

      p {
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        color: $color-primary;

        span {
          text-transform: none;
        }

        &:nth-child(2) {
          padding-left: 50px;
          position: relative;
          margin-top: 30px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 23px;
            height: 23px;
            transform: translateY(-50%) translateX(100%);
            background-image: url(../img/clients-database-add-ico.svg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .tg  {
    border-collapse:collapse;
    border-spacing:0;

    td, th {
      font-family:"Lato", sans-serif;
      color: $color-gray;
      font-size:12px;
      padding:10px 5px;
      overflow:hidden;
      word-break:normal;
      border-bottom: 1px solid rgba(147,149,152,.3);

      span {
        padding: 6px 12px;
        color: $color-white;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 8px;
        width: 100%;
        text-align: center;
        display: block;

        &.actions {
          background-color: $color-green;
        }

        &.lawsuit {
          background-color: $color-primary;
        }

        &.documents {
          background-color: $color-orange;
        }
      }
    }

    th {
      text-transform: uppercase;
      position: relative;

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin-left: 20px;

        &::before {
          content: '';
          position: absolute;
        }
      }

      img {
        margin-left: 5px;
      }
    }

    tr {
      &:nth-last-child(1) {
        td {
          border-width: 0;
        }
      }
    }

    .tg-0lax {
      text-align: left;
      vertical-align: middle;

      &--download, &--edit {
        div {
          width: 15px;
          height: 15px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &--download {
        div {
          background-image: url("../img/files_addnewcase-download-ico.svg");
        }
      }

      &--edit {
        div {
          background-image: url("../img/files_addnewcase-edit-ico.svg");
        }
      }
    }
  }
}
