.panel {
  &__sidemenu {

    &__icon {
      position: absolute;
      top: 50%;

      &::before {
        content: "";
        height: 18px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        width: 18px;
        background-size: cover;
        background-image: url(../img/settings-white-ico.svg);
      }
    }

    .search-title {
      border-bottom: 1px solid $color-white;
    }

    .btn-square-container {
      .btn-square {
        width: 4vw;
      }
    }

    .btn-square-container {
      &:nth-child(1) {
        div {
          &:nth-child(1) {
            .btn-square {
              .btn-block {
                .content {

                  &::after {
                    background-image: url("../img/settings-sidemenu-full_account-ico.svg");
                    background-size: cover;
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_account_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_account_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            .btn-square {
              .btn-block {
                .content {

                  &::after {
                    background-image: url("../img/settings-sidemenu-full_pi-ico.svg");
                    background-size: cover;
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_pi_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_pi_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(2) {
        div {
          &:nth-child(1) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_main-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_main_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_main_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_help-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_help_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_help_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        div {
          &:nth-child(1) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_calendar-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_calendar_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_calendar_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_invoice-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_invoice_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_invoice_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(4) {
        div {
          &:nth-child(1) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_messages-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_messages_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_messages_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            .btn-square {
              .btn-block {
                .content {
                  &::after {
                    background-image: url("../img/settings-sidemenu-full_teams-ico.svg");
                  }

                  &.active {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_teams_hover-ico.svg");
                      background-color: $color-white;
                    }
                  }

                  &:hover {
                    &::after {
                      background-image: url("../img/settings-sidemenu-full_teams_hover-ico.svg");
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .btn-square {
      float: left;
      padding: 0;
      margin-top: 5%;

      .btn-block {
        margin: 5px;
        padding: 0;
        position: relative;
        width: 100%;

        &::before {
          content: '';
          display: block;
        }

        .content {
          border-radius: 15px;
          overflow: hidden;

          &::after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: content;
            content: "";
            display: block;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 100%;
            z-index: 1;
          }
        }
      }

      p {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        white-space: normal;
        margin-top: 1.9vh;
        margin-bottom: 0;
        display: none;

        @media (min-height: 900px) {
          display: block;
        }
      }
    }
  }
}

.panel__footer {
  .btn-square {
    .btn-block {
      margin: 0;
    }
  }
}