.panel {
  &__form {

    & > &__help {
      &:nth-child(1) {
        .panel__form__help__data {

          &:nth-child(1) {
            width: 260px;
          }

          &:nth-child(2) {
            width: 620px;
          }
        }
      }

      &:nth-child(2) {
        .panel__form__help__data {
          width: 880px;
        }
      }
    }

    &__help {
      &__data {
        margin-bottom: 10px;
        p {
          margin: 15px 0;
          text-transform: uppercase;
          font-size: 12px;
          font-family: "Lato",sans-serif;
          font-weight: 400;
          color: #712453;
        }
      }

      &__list {
        margin-left: 50px;

        &--video, &--pdf, &--privacy-policy, &--terms {
          margin: 20px 0;
          position: relative;

          a {
            font-size: 12px;
            font-family: "Lato",sans-serif;
            font-weight: 400;
            color: #712453;
          }

          &::before {
            content: '';
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateX(-100%) translateY(-50%);
          }
        }

        &--video {
          &::before {
            background-image: url("../img/settings_help_video-ico.svg");
          }
        }

        &--pdf {
          &::before {
            background-image: url("../img/settings_help_pdf-ico.svg");
          }
        }

        &--privacy-policy {
          &::before {
            background-image: url("../img/settings_help_privacy-policy-ico.svg");
          }
        }

        &--terms {
          &::before {
            background-image: url("../img/settings_help_terms-ico.svg");
          }
        }
      }
    }
  }
}