.panel {
  &__main-panel {
    &__radio-block {
      width: 100%;
      height: 100px;

      @media (min-width: 550px) {
        width: 480px;
        height: 145px;
      }

      .radio {
        &-label {
          &:nth-child(1) {
            margin-right: 32px;

            @media (min-width: 768px) {
              margin-right: 190px;
            }
          }

          &:nth-child(2) {
            margin-right: 0;

            @media (min-width: 550px) {
              margin-right: 30px;
            }
          }
        }
      }

      &__preview-block {
        width: 100%;
        height: 70px;
        margin-top: 10px;

        @media (min-width: 550px) {
          height: 110px;
        }

        &__two-panels, &__four-panels {
          width: 75px;

          @media (min-width: 550px) {
            width: 180px;
          }

          &__panel {
            padding-left: 8px;
            padding-right: 8px;
            box-shadow: 0 0 7px -1px #939598;
            border-radius: 10px;

            @media (min-width: 550px) {
              padding-left: 30px;
              padding-right: 30px;
              border-radius: 15px;
            }
          }
        }

        &__two-panels {

          margin-right: 35px;

          @media (min-width: 550px) {
            margin-right: 85px;
          }

          &__panel {
            padding-top: 25px;
            padding-bottom: 25px;

            @media (min-width: 550px) {
              padding-top: 45px;
              padding-bottom: 45px;
            }

            &.block--first {
              margin-right: 5px;
            }
          }
        }

        &__four-panels {

          &__panel {
            float: left;
            padding-top: 8px;
            padding-bottom: 8px;

            @media (min-width: 550px) {
              padding-top: 18px;
              padding-bottom: 18px;
            }

            &.block--first, &.block--third {
              margin-right: 5px;
            }

            &.block--first, &.block--second {
              margin-bottom: 5px;
            }
          }
        }
      }

      &__color-marks {

        &__default, &__subdued {
          width: 95px;

          @media (min-width: 768px) {
            width: auto;
          }

          &__color {
            width: 100%;
            height: 33px;
            max-width: 140px;
            text-align: center;
            padding: 11px 10px;
            border-radius: .25rem;
            margin-top: 8px;
            color: $color-white;
            text-transform: uppercase;
            font-size: 10px;

            @media (min-width: 768px) {
              font-size: 14px;
              padding: 10px 10px;
            }
          }
        }

        &__default {
          margin-left: 0;

          @media (min-width: 768px) {
            margin-left: 20px;
          }

          &__color {

            &.block--first {
              background-color: $color-green;
            }

            &.block--second {
              background-color: $color-red;
            }

            &.block--third {
              background-color: $color-primary;
              padding: 6px 10px;

              @media (min-width: 768px) {
                padding: 2px 10px;
              }
            }

            &.block--fourth {
              background-color: $color-orange;
            }

          }
        }

        &__subdued {
          margin-left: 25px;

          @media (min-width: 768px) {
            margin-left: 135px;
          }

          &__color {

            &.block--first {
              background-color: $color-violet;
            }

            &.block--second {
              background-color: $color-red;
            }

            &.block--third {
              background-color: $color-primary;
              padding: 6px 10px;

              @media (min-width: 768px) {
                padding: 2px 10px;
              }
            }

            &.block--fourth {
              background-color: $color-pink;
            }
          }
        }
      }
    }

    &__show-in-main-block {
      width: 100%;
      height: 280px;

      @media (min-width: 450px) {
        height: 220px;
      }

      @media (min-width: 768px) {
        width: 520px;
      }

      &__block-id, &__block-panel {
        &__order {
          height: 40px;
          padding: 12px 10px;
          box-shadow: 0 0 7px -1px #939598;
          border-radius: 10px;
          text-transform: uppercase;
          background-color: $color-white;
        }
      }

      &__block-id {
        margin-right: 10px;

        &__order {
          width: 40px;
        }
      }

      &__block-panel {
        height: 280px;

        @media (min-width: 450px) {
          height: auto;
        }

        &__order {
          max-height:40px;
          min-width: 170px;
          padding-left: 10px;
          position: relative;

          @media (min-width: 768px) {
            min-width: 440px;
          }

          &::before {
            content: none;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateX(100%) translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (min-width: 768px) {
              content: '';
            }
          }

          .checkbox-label {
            margin-right: 10px;

            @media (min-width: 768px) {
              margin-right: 65px;
            }

            .checkmark {

              width: 15px;
              height: 15px;
              min-width: 15px;
              display: block;
              float: left;
              border: 1px solid $color-primary;
              border-radius: 3px;

              &::after {
                width: 6px;
                height: 10px;
                border-bottom: 3px solid $color-primary;
                border-right: 3px solid $color-primary;
                background-color: transparent;
                border-radius: 2px;
                transform: rotate(45deg);
                top: 1px;
                left: 4px;
              }
            }
          }


          .grabber {
            display: none;
            width: 20px;
            height: 17px;
            float: right;
            cursor: grab;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);

            @media (min-width: 450px) {
              display: block;
            }

            &__item {
              width: 20px;
              height: 2px;
              display: block;
              margin-bottom: 5px;
              background-color: $color-primary;
              border-radius: 5px;

              &:nth-last-child(1) {
                margin-bottom: 0;
              }
            }
          }

          &.order--1 {
            &::before {
              background-image: url("../img/ico-2.svg");
            }
          }

          &.order--2 {
            &::before {
              background-image: url("../img/ico-1.svg");
            }
          }

          &.order--3 {
            &::before {
              background-image: url("../img/ico-1.svg");
            }
          }

          &.order--4 {
            &::before {
              background-image: url("../img/ico-4.svg");
            }
          }

          &.order--5 {
            &::before {
              background-image: url("../img/ico-5.svg");
            }
          }

        }
      }
    }
  }

  &__addtional-info {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;

    @media (min-width: 768px) {
      width: auto;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .footer-block {
    .panel--button {
      .btn {
        &:nth-child(1) {
          font-size: 10px;
          margin-bottom: 15px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
          }

          @media (min-width: 415px) {
            font-size: 16px;
          }

          @media (min-width: 897px) {
            margin-left: 20px;
          }

          @media (min-width: 933px) {
            margin-bottom: 0;
          }
        }

        &:nth-child(2) {
          font-size: 10px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
            margin-left: 0;
          }

          @media (min-width: 415px) {
            font-size: 16px;
            margin-left: 0;
          }

          @media (min-width: 912px) {
              margin-left: 15px;
          }
        }
      }
    }
  }
}
