.panel {
  &__calendar {
    &__radio-block {
      width: 100%;
      height: 145px;

      &--terms {

        @media (min-width: 480px) {
          width: 480px;
        }

        .radio {
          &__primary {
            .radio-label {
              width: 100%;

              @media (min-width: 480px) {
                width: 360px;
              }

              &:nth-child(1) {
                margin-bottom: 10px;

                .checkmark {
                  transform: translateY(0);
                  top: 0;
                }
              }
            }
          }
        }
      }

      &__color-checkbox {
        width: 320px;
        margin-right: 20px;

        .checkmark {
          margin-left: 20px;

          @media (min-width: 577px) {
            margin-left: 10px;
          }
        }

        &__default, &__subdued {
          width: 180px;

          @media (min-width: 768px) {
            width: 180px;
          }

          &__color {
            width: 100%;
            height: 50px;
            max-width: 140px;
            text-align: left;
            padding: 18px 10px;
            border-radius: 10px;
            margin-top: 8px;
            color: $color-primary;
            text-transform: uppercase;
            font-size: 10px;
            box-shadow: 0 0 7px -1px #939598;
            position: relative;

            @media (min-width: 768px) {
              font-size: 14px;
              padding: 18px 10px;
            }

            &::after {
              content: '';
              width: 16px;
              height: 16px;
              position: absolute;
              top: 50%;
              right: 5px;
              transform: translateY(-50%);
              background-image: url("../img/options_calendar_edit-ico.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }

        //.checkbox--default, .checkbox--subdued {
        //  .radio {
        //    &-label {
        //      display: none !important;
        //
        //      @media (min-width: 1200px) {
        //        display: block;
        //      }
        //      .checkmark {
        //
        //      }
        //
        //      input {
        //        &:checked ~ .checkmark {
        //          display: block;
        //        }
        //      }
        //    }
        //  }
        //}

        .checkbox--default {
          .radio {
            &-label {
              &:nth-child(1) {
                .checkmark {
                  background-color: $color-blue;
                }
              }

              &:nth-child(2) {
                .checkmark {
                  background-color: $color-red;
                }
              }
              &:nth-child(3) {
                .checkmark {
                  background-color: $color-primary;
                }
              }
              &:nth-child(4) {
                .checkmark {
                  background-color: $color-green;
                }
              }
              &:nth-child(5) {
                .checkmark {
                  background-color: $color-orange;
                }
              }
              &:nth-child(6) {
                .checkmark {
                  background-color: $color-darkorange;
                }
              }
            }
          }
        }

        .checkbox--subdued {
          .radio {
            &-label {
              &:nth-child(1) {
                .checkmark {
                  background-color: $color-primary;
                }
              }

              &:nth-child(2) {
                .checkmark {
                  background-color: $color-violet;
                }
              }
              &:nth-child(3) {
                .checkmark {
                  background-color: $color-red;
                }
              }
              &:nth-child(4) {
                .checkmark {
                  background-color: $color-pink;
                }
              }
              &:nth-child(5) {
                .checkmark {
                  background-color: $color-lightpink;
                }
              }
              &:nth-child(6) {
                .checkmark {
                  background-color: $color-orange;
                }
              }
            }
          }
        }

        p {
          display: block;
          padding-left: 35px;

          @media (min-width: 577px) {
            display: none;
          }
        }
      }

      &__color-checkbox {

        .radio {

          &-label {
            margin-right: 8px;

            .checkmark {
              width: 25px;
              height: 25px;
              border-radius: 5px;
              border-width: 0;

              &::after {
                width: 12px;
                height: 20px;
                border-bottom: 4px solid $color-white;
                border-right: 4px solid $color-white;
                background-color: transparent;
                border-radius: 2px;
                transform: rotate(45deg);
                top: 0px;
                left: 7px;
              }
            }
          }
        }
      }
    }


  }

  &__addtional-info {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;

    @media (min-width: 768px) {
      width: auto;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

#calendar {
  .footer-block {
    .panel--button {
      .btn {
        &:nth-child(1) {
          font-size: 10px;
          margin-bottom: 15px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
          }

          @media (min-width: 415px) {
            font-size: 16px;
          }

          @media (min-width: 913px) {
            margin-bottom: 0;
          }

          @media (min-width: 933px) {
            margin-bottom: 0;
          }
        }

        &:nth-child(2) {
          font-size: 10px;
          margin-left: 0;

          @media (min-width: 350px) {
            font-size: 13px;
          }

          @media (min-width: 415px) {
            font-size: 16px;
          }

          @media (min-width: 768px) {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

.radio {
  &.active {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translateX(-50%) translateY(-50%);
    width: 320px;
    height: 130px;
    border-radius: 25px;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: 650px 650px;

    .radio-label {
      margin: 0 5px;

      input {

      }

      .checkmark {
        margin-left: 0;
      }
    }
  }
}
