.panel {
  &__information {
    &__data {
      p {
        margin: 15px 0;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        color: #712453;
      }

      &:nth-last-child(1) {
        margin-bottom: 10px;
      }

      label {
        width: 360px;
      }
    }

    &__linking-text {
      color: #712453;
      margin: 15px 0;
      position: relative;
      font-size: 12px;
      font-family: "Lato",sans-serif;
      font-weight: 400;
      width: 100%;

      @media (min-width: 768px) {
        width: 520px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        left: -5px;
        top: 0;
        transform: translateX(-100%);
        background-image: url("../img/settings_information-ico.svg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
      }
    }
  }
}