.panel {

  &-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 30px);
    max-width: calc(100% - 30px);
  }

  &__account{

    &:nth-child(1) {

    }

    &:nth-child(2) {

    }

    &__owner-data, &__data {
      margin-right: 10px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        margin-right: 20px;
      }

      p {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $color-primary;
      }

      .search-label {
        width: 100%;

        .input-gray {
          margin-bottom: 5px;
          width: 100%;
          display: inline-block;
          padding: 7px 10px;

          &::placeholder {
            display: inline-block;
            text-transform: none;
          }

          &.form-control[readonly] {
            background-color: rgba(255, 255, 255, 0);
            opacity: 1;
          }
        }
      }
    }

    &__data {
      &--uppercase {
        label {

          .input-gray  {

            &::placeholder {
              text-transform: uppercase;
            }
          }
        }
      }

      &--lowercase {
        label {

          .input-gray  {

            &::placeholder {
              text-transform: lowercase;
            }
          }
        }
      }

      .btn-outline-light {
        padding: 7px 15px;
      }
    }
  }

  .nav-tabs {
    .nav-link {
      background-color: rgba(147, 149, 152, 0);
      position: relative;
      z-index: 1;
      padding: 10px 10px 5px 10px;
      margin-right: 5px;
      border-radius: 10px 10px 0 0 / 5px 5px 0 0;
      color: $color-primary;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover, &.active {
        border-color: rgba(147, 149, 152, .3) rgba(147, 149, 152, .3) #fff;
      }
    }
  }

  .nav-tabs {
    .nav-item {
      margin-bottom: -1px;
      .nav-link {
        width: 160px;
        border-width: 0;
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 10px 10px 5px 10px;
        margin-right: 5px;
        border-radius: 10px 10px 0 0 / 5px 5px 0 0;
        color: $color-primary;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        &:hover, &.active {
          border-width: 0px;
          background: linear-gradient(255deg,transparent 5%,rgba(147, 149, 152, 0.3) 6%,#ffffff 6%,#ffffff 59%,transparent 60%),linear-gradient(-255deg,transparent 5%,rgba(147, 149, 152, 0.3) 6%,#ffffff 6%,#ffffff 59%,transparent 60%);

          &::after {
            content: '';
            position: absolute;
            top: -4px;
            left: 50%;
            width: 145px;
            height: 40px;
            transform: translateX(-50%);
            border-radius: 8px;
            border-top: 1px solid rgba(147,149,152,.3);
          }
        }
      }

      &:nth-child(2) {
        margin-left: -13px;

        .nav-link {
          width: 110px;

          &:hover, &.active {
            background: linear-gradient(255deg,transparent 8%,rgba(147,149,152,.3) 9%,#fff 10%,#fff 59%,transparent 60%),linear-gradient(-255deg,transparent 8%,rgba(147,149,152,.3) 9%,#fff 10%,#fff 59%,transparent 60%);

            &::after {
              width: 90px;
              border-radius: 8px;
            }
          }
        }
      }

      &:nth-child(3) {
        margin-left: -13px;
      }
    }
  }

  .tab-pane {
    .user__block {
      z-index: 0;

      .user__avatar {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        padding-top: 100%;
        transition: all .5s ease-in-out;
        width: 120px;
        height: 120px;

        &::before {
          content: "edytuj";
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-primary;
          font-size: 20px;
          font-weight: bold;
          font-family: 'lato', sans-serif;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          transition: all .5s ease-in-out;
          z-index: 1;
        }

        &:hover {
          opacity: 1;
          &::before {
            background-color: rgba(255,255,255,.5);
            opacity: 1;
          }
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all .5s ease-in-out;
        }
      }
    }

    p {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: $color-primary;
    }

    &.invoice-tab {
      .search-label {
        width: auto;
        display: inline-block;

        .input__gray {
          p {
            font-size: 12px;
            ont-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $color-black;
            text-transform: none;
            margin-right: 20px;
            margin-bottom: 0;
            line-height: 2;

            span {
              text-transform: uppercase;
              background-color: $color-primary;
              color: $color-white;
              padding: 7.5px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  &__avatar-container {
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  &.footer-block {
    .btn-gradient {
      padding: 28px 0;
      font-size: 16px;
      width: 100%;

      @media (min-width: 768px) {
        padding: 28px 36px;
        font-size: 16px;
        width: auto;
      }
    }
  }
}

.account-settings-content {
  .row {
    &:nth-child(2) {
      .panel__account {
        & > .row {
          & > div {
            &:nth-child(2) {
              .panel__account__data {
                &:nth-child(1) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 140px;
                  }
                }
                &:nth-child(2) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 190px;
                  }
                  .input {
                    &::placeholder {
                      text-transform: lowercase;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &:nth-child(4) {
      .panel__account {
        &__owner-data {
          margin-right: 10px;

          &:nth-child(1) {
            width: 100%;

            @media (min-width: 768px) {
              width: 265px;
            }
          }
          &:nth-child(2) {
            width: 100%;

            @media (min-width: 768px) {
              width: 125px;
            }
          }
          &:nth-child(3) {
            width: 100%;

            @media (min-width: 768px) {
              width: 145px;
            }
          }
          &:nth-child(4) {
            width: 100%;

            @media (min-width: 768px) {
              width: 310px;
            }
          }
          &:nth-child(5) {
            width: 100%;

            @media (min-width: 768px) {
              width: 115px;
            }
          }
          &:nth-child(6) {
            width: 100%;

            @media (min-width: 768px) {
              width: 180px;
            }
          }
          &:nth-child(7) {
            width: 100%;

            @media (min-width: 768px) {
              width: 155px;
            }
          }
        }
      }
    }
    &:nth-child(5) {
      .panel__account-container {
        .row {
          &:nth-child(1) {
            .panel__account {
              &__owner-data {

                &:nth-child(1) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 265px;
                  }
                }
                &:nth-child(2) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 180px;
                  }
                }
                &:nth-child(3) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 180px;
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            .panel__account {
              &__owner-data {

                &:nth-child(1) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 265px;
                  }
                }
                &:nth-child(2) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 180px;
                  }
                }
                &:nth-child(3) {
                  width: 100%;

                  @media (min-width: 768px) {
                    width: 180px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
