.content-height {

  &__settings {
    height: calc(100vh - 12vh - 5vh - 2rem - 6px);
  }
}

.content-scroll {
  overflow-y: auto;
}

.search-panel-bg {
  background-image: linear-gradient(to bottom, #66748B, #151d27);
}

#settings {
  //height: calc(100% - 5vh);
  height: calc(100vh - 5vh - 73px);

  @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
    height: 521px;
  }
  .panel {

    &.title-block {

      p {
        color: $color-gray;
        font-family: 'Lato' ,sans-serif;
        font-size: 10.5px;
        font-weight: 300;
        margin-bottom: 8.5px;
      }
    }

    &.title-height {
      height: 110px;
    }

    &__title {

      min-height: 20px;

      &.margin-bottom-8 {
        margin-bottom: 8px;
      }

      &.margin-bottom-24 {
        margin-bottom: 24px;
      }

      &__icon {
        margin-right: 15px;
      }

      &__block {

        & .title-text {
          color: $color-primary;
          font-family: 'Lato' ,sans-serif;
          font-size: 12.5px;
          font-weight: 400;
          margin-bottom: 0;
          text-transform: uppercase;
        }
      }

      &__sort {
        border-left: 2px solid $rgba-color-gray-3;

        &__ico {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 21px;
          transition: all .3s ease;
          width: 32px;

          &--num {
            background-image: url("../img/sort-num-ico.svg");

            &:hover {
              background-image: url("../img/sort-num-ico-hover.svg");
            }
          }

          &--lttr {
            background-image: url("../img/sort-lttr-ico.svg");

            &:hover {
              background-image: url("../img/sort-lttr-ico-hover.svg");
            }
          }
        }
      }
    }

    &__addtional-info {
      p {
        color: #712453;
        margin: 15px 0;
        position: relative;
        font-size: 12px;
        font-family: Lato,sans-serif;
        font-weight: 400;
        width: 100%;

        @media (min-width: 768px) {
          width: 420px;
        }

        @media (min-width: 990px) {
          width: 520px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 23px;
          height: 23px;
          left: -5px;
          top: 0;
          transform: translateX(-100%);
          background-image: url(../img/settings_information-ico.svg);
          background-size: contain;
          background-position: right;
          background-repeat: no-repeat;
        }
      }
    }

    &.footer-block {

    }

    &--line-grey {
      flex: 1;
      padding-bottom: 10px;
      position: relative;

      &::before {
        background-color: $color-gray;
        content: '';
        height: 1px;
        opacity: .3;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }

  }
}
