.section-name {
  &__block {
    background-color: $color-white;
    margin-bottom: 0;
    position: relative;
    height: calc(5vh - 2px);
    z-index: 999;

    .logo-img {
      position:  absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &__block {

        &--square {
          margin: 5px;
          padding: 0;
          position: relative;
          width: 3.4vh;
          height: 3.4vh;

          &::before {
            content: "";
            display: block;
            padding-top: 100%;
          }
        }
      }
    }

    .logo-text {
      &__block {
        p {
          text-transform: uppercase;
          color: #712453;
          font-family: "Lato",sans-serif;
          font-size: 3.4vh;
          font-weight: 400;
          margin-left: 1vh;
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}

.sidebar {
  background-image: linear-gradient(to bottom, #66748B, #151d27);
  width: 325px;
}

.avatar {
  &__block {
    position: relative;

    &__image-container {
      border-radius: 50%;
      overflow: hidden;
      height: 100%;



      &--dashboard {
        max-width: 140px;
        max-height: 140px;
        bottom: -25%;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
      }

      &--panel {
        position: relative;
        transition: all .5s ease-in-out;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all .5s ease-in-out;
        }
      }

      &::after {
        content: "edytuj";
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 1);
        background-color: #712453;
        font-size: 20px;
        font-weight: bold;
        font-family: "lato",sans-serif;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all .5s ease-in-out;
        z-index: 1;
      }

      &:hover {
        &::after {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    &--dashboard {
      width: 160px;
    }

    &--panel {
      z-index: 0;
      width: 120px;
      margin-top: 12px;
      height: 100%;
      min-height: 120px;
    }
  }
}

.navigation {
  height: 100%;
  width: 100%;

  .navbar-nav {
    height: 100%;
    width: 100%;

    &__item {
      margin: 0 10px;
      position: relative;
      min-width: 24px;
      min-height: 24px;

      @media (min-width: 768px) {
        margin: 0 20px;
      }

      @media (min-width: 1200px) {
        margin: 0 30px;
      }

      &:nth-last-child(1) {
        margin-right: 10px;
      }

      &__link {
        min-width: 24px;
        min-height: 24px;

        &:hover {
          text-decoration: none;
        }

        p {
          color: #712453;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
          margin-top: 0;
          margin-right: 10px;
          display: none;

          @media (min-width: 1250px) {
            display: inline-block;
          }
        }

        &__icon {
          height: 18px;
          width: 18px;
          background: transparent no-repeat center;
          background-size: contain;

          @media (min-width: 768px) {
            height: 24px;
            width: 24px;
          }

          &--search {
            background-image: url("../img/search-ico.svg");
          }

          &--messages {
            background-image: url("../img/messages-ico.svg");
          }

          &--settings {
            background-image: url("../img/settings-ico.svg");
          }

          &--logout {
            background-image: url("../img/logout-ico.svg");
          }
        }
      }

      &--search {
        li {
          &::before {
            background-image: url("../img/search-ico.svg");
          }
        }
      }

      &--messages {
        li {
          &::before {
            background-image: url("../img/messages-ico.svg");
          }
        }
      }

      &--settings {
        li {
          &::before {
            background-image: url("../img/settings-ico.svg");
          }
        }
      }

      &--logout {
        li {
          margin-right: 55px;
          &::before {
            background-image: url("../img/logout-ico.svg");
          }
        }
      }
    }
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;

  &.active {
    display: block;
  }
}