.btn {

  &.btn-white, &.btn-red, &.btn-primary, &.btn-violet {
    border-width: 0;
    box-shadow: 0 0 5px -1px $color-gray;
    color: $color-white;
    font-family: "Lato",sans-serif;
    font-size: 11px;
    font-weight: 300;
    padding: 7px 23px;
    text-transform: uppercase;
  }

  &.btn-white {
    background-color: rgba(255,255,255,0);
    color: $color-gray;
  }

  &.btn-red {
    background-color: $color-red;
  }

  &.btn-primary {
    background-color: $color-primary;
  }

  &.btn-violet {
    background-color: $color-violet;
  }

  &.btn-square {

    .btn-block {
      position: relative;
      &::before {
        content: "";
        display: block;

      }
    }

    &--very-small {
      width: 20%;

      .btn-block {
        &::before {
          padding-top: 100%;
        }
      }
    }

    &--small {
      width: 33%;

      .btn-block {
        &::before {
          padding-top: 100%;
        }
      }
    }

    &--medium {
      width: 40%;

      .btn-block {
        &::before {
          padding-top: 100%;
        }
      }
    }

    &--large {
      width: 100%;

      .btn-block {
        &::before {
          padding-top: 33%;
        }
      }
    }
  }

  &.btn-gradient {
    background-image: url(../img/panel-hover-bg.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: $color-white;
    font-family: "Lato",sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
}



.content {
  background-image: url(../img/panel-hover-bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .go-back-block {
    p {
      color: $color-white;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
      padding-left: 30px;
      position: relative;
      text-transform: uppercase;

      &::before {
        background-image: url(../img/arrow-back-ico.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
      }
    }
  }

  &::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: content;
    content: "";
    display: block;
    height: 60%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 60%;
    z-index: 1;
  }
}

.panel__title__arrow-down {

  background-image: url(../img/preview-arrow-ico.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateX(-180deg);

  &.active {  
    transform: rotateX(0);
  }

  &--small{
    height: 16px;
    width: 16px;
  }

  &--big {
    height: 28px;
    width: 28px;
  }
}
