.dropdown {
  margin-bottom: 0;
  width: 100%;

  .btn {
    background: rgba(255,255,255,.1);
    border-width: 0;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: .9;
    position: relative;
    text-align: left;
    box-shadow: 0px 0px 7px -1px #939598;

    &::after {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--small {
    .btn {
        padding: .245rem .75rem
    }
  }

  &--normal {
    .btn {
        padding: .395rem .75rem;
    }
  }

  &__primary {
    .btn {
      color: $color-primary;
    }
  }

  &__white {
    .btn {
      color: $color-white;
    }
  }

  &__gray {
    .btn {
      color: $color-gray;
    }
  }

  &__red {
    .btn {
      color: $color-red;
    }
  }

  &__green {
    .btn {
      color: $color-green;
    }
  }
}

.input {
  box-shadow: 0px 0px 7px -1px #939598;
  transition: all .5s ease;
  background-color: $color-white;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-width: 0;
  height: auto;
  font-size: 12px;

  &::placeholder {

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    opacity: .9;
  }

  &--small {
    padding: .245rem .75rem;

    &::placeholder {
      font-size: 12px;
    }
  }

  &--normal {
    padding: 7px 23px;

    &::placeholder {
      font-size: 12px;
    }
  }

  &__primary {
    color: $color-primary;

    &::placeholder {

      color: $color-primary;
    }
  }

  &__white {
    color: $color-white;

    &::placeholder {

      color: $color-white;
    }
  }

  &__gray {
    color: $color-gray;
    text-transform: uppercase;

    &::placeholder {

      color: $color-gray;
    }
  }
}

.input-white {
  background: rgba(255,255,255,.1);
  border: 1px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-weight: 300;
  transition: all .5s ease;
  box-shadow: 0px 0px 7px -1px #939598;

  &--small {
    background-color: #fff;
    border-width: 0;
    padding: .175rem .75rem;
    height: auto;
  }

  &::placeholder {

    color: $color-white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    opacity: .9;
  }
}

.input-gray {
  background-color: rgba(255,255,255,.1);
  border-width: 0;
  box-shadow: 0 0 5px -1px #939598;
  color: #939598;
  padding: 7px 23px;
  text-transform: uppercase;
  transition: all .5s ease;

  &::placeholder {

    color: $color-gray;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
    opacity: .9;
    //text-transform: uppercase;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: rgba(255,255,255,0);
  opacity: 1;
}

.radio, .checkbox {
  .radio-label, .checkbox-label {
    color: $color-white;
    cursor: pointer;
    display: block;
    font-family: 'Lato' ,sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;

    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;

      &:checked ~ .checkmark {
        background-color: rgba(255,255,255,.1);
      }

      &:checked ~ .checkmark::after {
        display: block;
      }
    }

    &:hover {
      input ~ .checkmark {
        background-color: rgba(255,255,255,.5);
      }
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkmark {
    background-color: rgba(255,255,255,.1);
    border: 2px solid $color-white;
    border-radius: 50%;
    height: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;

    &::after {
      background: $color-white;
      border-radius: 50%;
      content: "";
      display: none;
      height: 6px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 6px;
    }
  }

  &--column {
    .radio-label, .checkbox-label {
      display:block;
      float: none;
    }
  }

  &--row {
    .radio-label, .checkbox-label {
      display: inline-block;
      float: left;
    }
  }


  &__primary {
    .radio-label, .checkbox-label {
      color: $color-primary;
      display: inline-block;
      float: left;
      padding-left: 20px;
      margin-right: 30px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 400;

      .checkmark {
        border-color: $color-primary;

        &::after {
          background: $color-primary;
        }
      }
    }
  }
}
