@import "_abstracts/variables";

body.login-page {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login-box {
  margin: 0 10%;

  .login-label {

    position: relative;

    .login-label__name, .login-label__password {

      background: transparent;
      border-width: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      border-radius: 0px;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 300;
      padding-bottom: 8px;
      padding-left: 30px;
      transition: all .5s ease;

      &::placeholder {

        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 300;
        opacity: .9;
      }

      &:hover {

        border-bottom: 1px solid rgba(255, 255, 255, 1);

        &::placeholder {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0;
      }
    }

    span.login-label__icon {

      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);

      &::before {
        content: '';
        height: 18px;
        left: 0;
        position: absolute;
        top: 0;
        width: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    span.login-label__checkmark {

      position: absolute;
      right: 20px;
      top: 50%;

      &::before {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        content: "";
        height: 7px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(-50%) rotate(-45deg);
        width: 13px;
      }
    }

    &:hover {
      span.login-label__icon {

        &:before {
          transition: all .3s ease;
          transform: scale(1.1);
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  .login-label {
    span.login-label__icon {

      &--name {
        &::before {
          background-image: url("../img/user-name-ico.svg");
        }
      }

      &--password {
        &::before {
          background-image: url("../img/password-ico.svg");
        }
      }
    }
  }

  .pass-recovery {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 300;
    opacity: .7;
    position: relative;
    transition: all .5s ease;

    &::before {
      background-image: url("../img/info-circle-ico.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 12px;
      left: -15px;
      opacity: 1;
      position: absolute;
      top: 0x;
      width: 12px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .btn-login {
    background-color: rgba(255, 255, 255, .3);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 68px;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
      color: #fff;
    }
  }
}