@import "datepicker/_datepicker";
@import "fullcalendar/_fullcalendar";

@import "_abstracts/animations";
@import "_abstracts/_variables";
@import "_abstracts/_utilities";

@import "_components/_buttons";
@import "_components/_forms";
@import "_components/_blocks";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  position: fixed;
  overflow: hidden;
}

body {
  line-height: 1;
  color: $color-primary;
  position: fixed;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body.homepage {
  background-color: #F1F1F0;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){

    height: 635px;
  }
}

#files-search, #clients-database-sidebar, #search {
  position: absolute;
  top: calc(5vh - 2px);
  height: calc(100% - 5vh);
  right: 0;
  transition: all .5s ease;
  background-image: linear-gradient(to bottom, #66748B, #151d27);
  animation-name: show-sidebar;
  animation-duration: 1s;

  &.shut {
    transition: all .5s ease;
    right: -295px;
  }
}

.ui-page {

  @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
    width: 100%;
    min-height: 635px !important;
  }
}

.ui-loader.ui-body-a {
  display: none;
}

.content-height {

  &__main {
    max-height: calc(100vh - 12vh - 5vh - 2rem - 126px);

    @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
      width: 100%;
      height: calc(635px - 40px - 110px - 75px - 50px);
    }
  }

  &__files {
    max-height: calc(100vh - 12vh - 5vh - 2rem - 148px);

    @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
      max-height: calc(635px - 40px - 110px - 75px - 75px);
    }

    &--preview {
      height: calc(100vh - 12vh - 5vh - 2rem - 155px);

      @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
        width: 100%;
        height: calc(635px - 40px - 110px - 75px - 10px);
      }
    }

    &--add-new-case {
      height: calc(100vh - 12vh - 5vh - 2rem);
    }
  }

  &__history {
    height: calc(100vh - 12vh - 5vh - 60vh);
  }

  &__tiles {
    height: calc(100vh - 12vh - 5vh - 2rem + 30px);
  }
}

.sidebar__menu {
  height: 100%;
}

.module {
  overflow: hidden;
  position: relative;
  max-height: calc(100vh - 75px);
  display: flex;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    max-height: calc(100vh - 12vh - 2px);
    margin: 0 -15px;
  }
}

.dashboard__block {
  z-index: 2;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2px;
  box-shadow: 2px 2px 2px 0 #dadfe4;

  span {
    color: #712453;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  &--top {
    height: 12vh;
    z-index: 999;

    .logo-img {
      margin-right: auto;
      width: 30vh;
    }

    .logo-text {
      &__block {

      }
    }

    logo-nav {
      &__block {

      }
    }

    .search-label {

      position: relative;
      width: 100px;
      margin: 0 10px;

      @media (min-width: 900px) {
        width: 200px;
      }

      @media (min-width: 1250px) {
        width: 300px;
        margin: 0 20px;
      }

      .search-label__name {

        background: transparent;
        border-radius: 0;
        border-width: 0;
        border-bottom: 1px solid #712453;
        color: #712453;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 0 0 8px 30px;
        transition: all .5s ease;

        &::placeholder {

          color: #712453;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          font-weight: 300;
          opacity: .9;
        }

        &:hover {

          border-bottom: 1px solid #712453;

          &::placeholder {
            opacity: 1;
          }
        }
      }

      span.search-label__icon {

        position: absolute;
        top: 50%;

        &::before {
          content: '';
          height: 18px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          width: 18px;
        }
      }

      span.search-label__checkmark {

        position: absolute;
        right: 20px;
        top: 50%;

        &::before {
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          content: "";
          height: 7px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-50%) rotate(-45deg);
          width: 13px;
        }
      }
      span.search-label__icon {

        &--name {
          &::before {
            background-image: url("../img/search-ico.svg");
          }
        }
      }
    }
  }

  &--name {
    height: calc(8vh - 2px);
    position: relative;
    z-index: 999;

    .user__block {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 0 15%;
      z-index: 999;

      .user__avatar {
        border-radius: 50%;
        overflow: hidden;
        transform: translateY(-110%);
        position: relative;
        padding-top: 100%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all .5s ease-in-out;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          background: transparent url("../img/user-settings-ico.svg") center;
          background-size: contain;
          height: 40px;
          width: 40px;
          opacity: 0;
          transition: all .5s ease-in-out;
          z-index: 2;
        }

        &::before {
          content: '';
          display: block;
          background-color: #712453;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          transition: all .5s ease-in-out;
          z-index: 1;
        }

        &:hover {
          cursor: pointer;

          img {
            transform: scale(1.1);
            transition: all .5s ease-in-out;
          }

          &::after {
            display: block;
            transition: all .5s ease-in-out;
            opacity: 1;
          }

          &::before {
            display: block;
            transition: all .5s ease-in-out;
            opacity: .7;
          }
        }
      }
    }
  }

  &--regular {
    height: 100%;
    z-index: 999;
    width: 20%;

    @media (min-width: 768px) {
      width: 100%;
      height: calc(16.66% - 2px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:nth-child(1)) {
      &:hover, &.active {
        background-image: linear-gradient(to bottom, #66748B, #151d27);
        cursor: pointer;

        p {
          color: #fff;
        }

        .new-msg {

          &::after {
            transform: scale(1.3);
          }
        }
      }
    }
  }

  %icon {
    background: transparent no-repeat center;
    background-size: contain;
    width: 50%;
    max-width: 50px;
  }

  .icon-ico-1,
  .icon-ico-1\:regular {
    @extend %icon;
    background-image: url('../img/ico-1.svg');
  }

  .icon-ico-2,
  .icon-ico-2\:regular {
    @extend %icon;
    background-image: url('../img/ico-2.svg');
  }

  .icon-ico-3,
  .icon-ico-3\:regular {
    @extend %icon;
    background-image: url('../img/ico-3.svg');
  }

  .icon-ico-4,
  .icon-ico-4\:regular {
    @extend %icon;
    background-image: url('../img/ico-4.svg');
  }

  .icon-ico-5,
  .icon-ico-5\:regular {
    @extend %icon;
    background-image: url('../img/ico-5.svg');
  }

  .new-msg {
    position: relative;

    &::after {
      content: "1";
      color: #fff;
      font-family: "Lato",sans-serif;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -7px;
      right: -2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #712453;
      transition: all .5s ease;
    }
  }

  p {
    text-transform: uppercase;
    color: #712453;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
  }
}

.nearest-dates-container, .recently-added-documents-container {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(100%);
  max-width: calc(100%);
  padding: 0 15px;
  position: relative;

  @media (min-width: 768px) {
    flex-basis: calc(100% - 45px);
    max-width: calc(100% - 45px);
  }

  @media (min-width: 1200px) {
    flex-basis: calc(50%);
    max-width: calc(50%);
  }

  .swiper {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);

    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 1200px) {
      display: none;
    }

    .circle {
      width: 6px;
      height: 6px;
      background-color: $color-primary;
      margin-top: 2px;
      margin-bottom: 2px;
      border-radius: 50%;
    }
  }
}

.nearest-dates-container {

  &>div {
    &:nth-child(2) {
      padding-right: 0;

      @media (min-width: 768px) {
        padding-right: 30px;
      }

      @media (min-width: 1200px) {
        padding-right: 0;
      }
    }
  }

  .swiper {
    right: 15px;
  }

  &.active {
    &>div {
      &:nth-child(2) {
        padding-right: 0;
      }
    }

    .swiper {
      display: none;
    }
  }
}

.recently-added-documents-container {

  &>div {
    &:nth-child(2) {
      padding-left: 0;

      @media (min-width: 768px) {
        padding-left: 30px;
      }

      @media (min-width: 1200px) {
        padding-left: 0;
      }
    }
  }

  .swiper {
    left: 15px;
  }

  &.active {
    &>div {
      &:nth-child(2) {
        padding-left: 0;
      }
    }

    .swiper {
      display: none;
    }
  }
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.panel-changer {
  position: absolute;
  width: 30px;
  bottom: 0;
  right: 0;
  height: calc(100% - 5vh + 2px);
}

.category-menu {
  width: 100%;
  z-index: 1;
  height: 75px;

  @media (min-width: 768px) {
    width: 160px;
    height: 88vh;
  }
}

.content-area {
  width: 100%;
  height: calc(100vh - 75px);

  @media (min-width: 768px) {
    width: calc(100% - 160px);
    height: 88vh;
  }

  @media all and (device-width: 375px) and (device-height: 812px) and (orientation:portrait){
    width: 100%;
    height: calc(635px - 75px);
  }
}

.user {
  &__block {
    width: 160px;
    height: 100%;
    position: relative;

    &--avatar {
      border-radius: 50%;
      overflow: hidden;
      height: 100%;
      position: absolute;
      bottom: -25%;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.navigation {
  &__block {
    width: calc(100% - 160px);
    height: 100%;
  }
}
